.footer {
  background-color: #000;
  color: #fff;
  padding: 30px 60px;
  display: flex;
  grid-template-columns: 2fr 1fr 1fr 1fr 1.5fr;
  gap: 30px;
  align-items: start; /* các cột căn từ trên xuống */
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer a {
  color: #ccc;
  text-decoration: none;
}

.footer a:hover {
  color: #f36f21; /* màu cam giống FPT */
}

.footer img {
  max-width: 120px;
  height: auto;
  margin-bottom: 10px;
}
